* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 99;
}

header span {
  font-family: Roboto;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.corpo-app {
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}
.quiz-usuario {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 65, 217);
}

.quiz-usuario span {
  height: 23px;
  width: 30%;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quiz-usuario button {
  position: relative;
  border-color: #ffffff;
}

#plus {
  position: absolute;
  top: 10px;
  left: 15px;
}

.quiz-usuario-sem-quiz {
  margin-top: 90px;
  width: 90%;
  height: 181px;
  background: #fafafa;
  border: 1px dashed #d4d4d4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.quiz-usuario-sem-quiz span {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #b9b9b9;
  text-align: center;
  display: block;
  width: 75%;
  word-wrap: break-word;
}

.quiz-usuario-sem-quiz button {
  height: 40px;
  width: 40%;
  bottom: 35px;
  border-radius: 50px;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ec362d;
  background-color: #ffffff;
  border: 1px dashed #ec362d;
}

.quiz-servidor {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 69px;
}

.quiz-servidor #titleSpan {
  height: 23px;
  width: 100%;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 14px;
  text-overflow: ellipsis;
}

.quiz-content {
  position: relative;
  height: 181px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 14px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
}

.quiz-content img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  border-radius: 5px;
}

#gradiente {
  position: relative;
  display: inline-block;
}

#gradiente::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
}

.quiz-content span {
  height: auto;
  position: absolute;
  top: 120px;
  bottom: 6px;
  left: 6%;
  right: 6%;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 3;
}

.corpo-app-tela2 {
  width: 100%;
  height: auto;
  margin-top: 69px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner {
  width: 100%;
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
  z-index: 0;
}
.banner img {
  width: 100%;
  height: 100%;
}

.banner span {
  position: absolute;
  top: auto;
  left: auto;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 80%;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}
#titleSpan {
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 80%;
  color: #ffffff;
  text-overflow: ellipsis;
}
.card-pergunta {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 28px;
  background-color: #ffffff;
}
.caixa-de-pergunta {
  position: absolute;
  top: 18px;
  width: 92%;
  height: 89px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee1d1d;
  position: relative;
}
.caixa-de-pergunta span {
  position: absolute;
  top: auto;
  left: auto;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 80%;
  color: #ffffff;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-alternativas {
  width: 92%;
  height: 268px;
  margin-bottom: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
}
.alternativa {
  height: 140px;
  width: 47.94%;
  margin-bottom: 12px;
  
}

.alternativa img {
  object-fit: contain;
  max-width: 100%;
  max-height: 80.71%;
}


.container-alternativas span {
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  
  color: #000000;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-resultado {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nivel-resultado {
  width: 92%;
  height: 89px;
  background-color: #ec362d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.nivel-resultado span{
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  overflow: hidden;
  white-space: wrap;
  max-width: 90%;
  text-align: center;
  
}

.card-resultado img {
  width: 90%;
  height: 255px;
  margin-top: 9px;
}

.texto-resultado {
  height: 96px;
  width: 90%;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;

  text-align: left;
  margin-top: 9px;
  margin-bottom: 15px;

  display: flex;
  height:min-content;
  width: 91%;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  white-space: wrap;
  max-width: 100%;
  background-color: #ffffff;
}

.container-botoes-tela2 {
  bottom: 66px;
  display: flex;
  height: 196px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.botoes-tela2 {
  background-color: #e5e5e5;
}
#reiniciar-quiz {
  height: 40px;
  width: 100%;
  top: 35px;
  bottom: 35px;
  left: 20, 5%;
  right: 20, 5%;

  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff5f4;
  background-color: #ec362d;
  margin-bottom: 8px;
}
#voltar-home {
  height: 40px;
  width: 100%;
  top: 35px;
  bottom: 35px;
  left: 20, 5%;
  right: 20, 5%;
  border-radius: 15px;
  border-color: #e5e5e5;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #818181;
  background-color: #e5e5e5;
}
.exibicao-quiz {
  height: auto;
  background-color: #e5e5e5;
}
.grid-container {
  height: 304px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196f3;
}
/* .grid-item {
  position: relative;
  height: 152px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.grid-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.classe {
  display: grid;
  grid-gap: 1rem;
<<<<<<< HEAD
  grid-template-columns:
  repeat(auto-fit, minmax(150px, 1fr));
  } */

  .corpo-app-tela3{
    position: relative;
    margin-top: 69px;
    height: 100%;
    width: 100%;
    background-color: #1e0efd ;
  }
  
  #span-topo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 37px;
    margin-bottom: 29px;
    font-family: roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #000000;
  }

  .dados-do-quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 66px;
    height: 256px;
    width: 100%;
    background-color: #e70e0e;
  }

  #inputInfoBasicaDoQuiz{
    width: 92%;
    height: 46px;
    border-radius: 5px;
    margin-bottom: 9px;
  }
  #prosseguirCriarPerguntas{
    position: absolute;
    top: 443px;
    height: 54px;
    width: 86.4%;
    border-radius: 10px;
    background-color: #EC362D;
    color:#FFF5F4;
  }

  .branco {
  background-image: white;
}

.escondido {
  display: none;
}

#span{
  display: flex;
  height:min-content;
  width: 91%;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  white-space: wrap;
  max-width: 100%;
  background-color: #ffffff;
  
  }

  #span span{
    font-size: 13px;
    font-family: roboto;
    font-weight: 700;
    font-style: normal;
    }
