* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 99;
}

header span {
  font-family: Roboto;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.corpo-app {
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e5e5e5;
}
.quiz-usuario {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-usuario span {
  height: 23px;
  width: 30%;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.quiz-usuario button {
  position: relative;
  border-color: #ffffff;
}

.escondido {
  display: none;
}

#plus {
  position: absolute;
  top: 10px;
  left: 15px;
}

.quiz-usuario-sem-quiz {
  margin-top: 90px;
  width: 90%;
  height: 181px;
  background: #fafafa;
  border: 1px dashed #d4d4d4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.quiz-usuario-sem-quiz span {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #b9b9b9;
  text-align: center;
}

.quiz-usuario-sem-quiz button {
  height: 40px;
  width: 40%;
  bottom: 35px;
  border-radius: 50px;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ec362d;
  background-color: #ffffff;
  border: 1px dashed #ec362d;
}

.quiz-servidor {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 69px;
}

.quiz-servidor #titleSpan {
  height: 23px;
  width: 100%;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}

.quiz-content {
  height: 181px;
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  background-image: url();
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 14px;
}

.quiz-content #insideTextSpan {
  height: auto;
  position: absolute;
  top: 120px;
  bottom: 6px;
  left: 6%;
  right: 6%;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}
.corpo-app-tela2 {
  width: 100%;
  height: 100%;
  margin-top: 69px;
  display: flex;
  flex-direction: column;
}
.banner {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.banner img {
  margin-top: 220px;
  width: 100%;
  height: 220px;
  margin-bottom: 150px;
}
#titleSpan {
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 80%;
  color: #ffffff;
}
.card-pergunta {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.caixa-de-pergunta {
  width: 90%;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.container-alternativas {
  width: 90%;
  height: 290px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.alternativa {
  height: 113px;
  width: 100%;
}

.alternativa img {
  height: 135px;
  width: 49%;
}

.container-alternativas span {
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;

  color: #000000;
}

.card-resultado {
  height: 500px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nivel-resultado {
  width: 90%;
  height: 89px;
  background-color: #ec362d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;

  text-align: center;
  margin-top: 18px;
}

.imagem-resultado {
  width: 90%;
  height: 255px;
  margin-top: 9px;

  background-image: url("https://s.abcnews.com/images/GMA/phoebe-1-gty-er-200429_hpMain_16x9_608.jpg");
}

.texto-resultado {
  height: 96px;
  width: 90%;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;

  text-align: left;
  margin-top: 9px;
  margin-bottom: 15px;
}

.branco {
  display: none;
}
.container-botoes-tela2 {
  display: flex;
  height: 196px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
}

.botoes-tela2 {
}
#reiniciar-quiz {
  height: 40px;
  width: 100%;
  top: 35px;
  bottom: 35px;
  left: 20, 5%;
  right: 20, 5%;

  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff5f4;
  background-color: #ec362d;
}
#voltar-home {
  height: 40px;
  width: 100%;
  top: 35px;
  bottom: 35px;
  left: 20, 5%;
  right: 20, 5%;
  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #818181;
  background-color: #e5e5e5;
}
